# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo
*.slo
*.lai

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Fortran module files
*.mod

Thumbs.db
.fuse_hidden*
*~
*#
#*#
.directory
*.cbp
*.layout*
*.layout
*.depend*
*.depend
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*                                                                                                                                                                                                                                                                                                                                       
.#*                                                                                                                                                                                
*.bin                                                                                                                                                                              
.cproject                                                                                                                                                                          
.metadata/
.project
.settings/
build/

# CMake
/build
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
.idea/
.DS_Store
yellow.kdev4
.kdev4

